<div class="row">
  <div class="col-md-12">
    <div class="error-template">
      <h1>
        Hi Geek</h1>
      <h2>
        Welcome in JustClean</h2>
      <div class="error-details">
        Hope you are happy with our service
      </div>
      <div class="error-actions">
        <a [routerLink]="[ '/login' ]" class="btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-home"></span>
          Take Me Login </a>
        <a [routerLink]="[ '/products/all-products' ]" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-envelope"></span>Our Products </a>
      </div>
    </div>
  </div>
</div>
